.profile-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.2);
    transition: all 0.2s ease-in-out;
  }
  
  .profile-image:hover {
    transform: scale(1.1);
  }

.menu-list-custom li {
    margin-bottom: 10px;
}

.menu-list-custom li a.is-active {
    background-color: #2A3236;
    transition: transform 0.2s ease-in-out;
}

.menu-list-custom li a.is-active:hover {
    background-color: #5e6163;
    transform: scale(1.05);
}

.level-left {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.vote-group {
    display: flex;
    align-items: center;
    background-color: #2A3236;
    padding: 5px;
    border-radius: 20px;
}

.vote-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #646464;
    border-radius: 70%;
    width: 30px;
    height: 30px;
    margin: 0 5px;
    border: 1px solid #ddd;
    transition: transform 0.2s ease-in-out;
}

.vote-button:hover {
    background-color: #a0a0a0;
    transform: scale(1.2);
}

.vote-button .icon.is-small {
    color: #333;
}

.vote-count {
    font-size: 0.8rem;
    color: #8b8b8b;
}

.community-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}
.community-image-small {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}
.community-item {
    display: flex;
    align-items: center;
}
.community-item a {
    display: flex;
    align-items: center;    
}

.community-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.additional-info {
    margin-top: 0.5rem;
    font-size: 0.75rem;
    color: #666;
}

.recent-post-link {
    color: rgb(156, 156, 156);
    text-decoration: dashed;
}

.recent-post-link:hover {
    color: #ffffff;
}

.recent-item {
    margin-bottom: 20px;
}

.navbar-logo {
    height: 60px;
    width: auto;
}



.navbar-menu {
    /* display: flex; */
    align-items: center;
    justify-content:center;
    width: 85%;
    /* box-sizing: border-box; */
}

.search-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.a-button {
    color: white;
    background-color: #2A3236;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
}

.a-button:hover {
    background-color: #5e6163;
}

.post-image {
    object-fit: cover;
    border-radius: 20px;
    max-height: 400px;
    margin-bottom: 10px;
    text-align: center;
    /* box-shadow: 0 2px 10px rgba(235, 232, 232, 0.2); */
}

.post-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.modal-content.is-large-image {
    width: 70%;
    max-width: 70%;
}

.modal-content.is-large-image img {
    width: 100%;
    height: auto;
}

.post-title {
    color: rgb(255, 255, 255);
    text-decoration: dashed;
}

.post-title:hover {
    color: #0EBBE3;
}

.back-link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #646464;
    border-radius: 70%;
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
    transition: transform 0.2s ease-in-out;
}

.back-link:hover {
    background-color: #a0a0a0;
    transform: scale(1.2);
}

.custom-textarea {
    height: 50px !important; /* Установите нужную высоту */
}

.username-link {
    color: rgb(212, 212, 212);
    text-decoration: dashed;
}

.username-link:hover {
    color: #ffffff;
}

.vote-group-comment {
    display: flex;
    align-items: center;
    background-color: #3c3e3f;
    border-radius: 20px;
}

.btn-group-comment {
    margin-top: -13px;
}

.vote-button-comment {
    display: flex;
    color: #f7f7f7;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    margin: 0 5px;
    transition: transform 0.2s ease-in-out;
}

.vote-button-comment:hover {
    transform: scale(1.2);
}

.comment-username {
    color: rgb(243, 243, 243);
    text-decoration: dashed;
}

.comment-username:hover {
    color: #84c3ff;
}

.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.pagination a {
    margin: 0 5px;
    text-decoration: none;
    color: #ffffff;
}

.pagination a[aria-current="page"] {
    font-weight: bold;
    background-color:#777777;
}

.pagination a:hover {
    text-decoration: underline;
}

.pagination-link {
    background-color:#2A3236;
    border: none;
}

.join-link {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    color: white;
    background-color: #216b42;
    width: 60px;
    height: 30px;
    margin: 0 5px;
    transition: transform 0.2s ease-in-out;
}

.join-link:hover {
    background-color: #239958;
    transform: scale(1.1);
}

.show-more {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    color: rgb(160, 180, 216);
    background-color: #444466;
    width: 85px;
    height: 30px;
    margin: 0 5px;
    margin-top: 7px;
}

.show-more:hover {
    background-color: #555592;
}

.online-label {
    position: relative;
    padding-left: 15px; /* Adjust the spacing as needed */
}

.online-label::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 8px; /* Size of the dot */
    height: 8px; /* Size of the dot */
    background-color: rgb(1, 185, 1); /* Color of the dot */
    border-radius: 50%;
}

.carousel {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.carousel-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-slide {
    min-width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1000;
}

.carousel-control.prev {
    left: 10px;
}

.carousel-control.next {
    right: 10px;
}


.carousel-indicators {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.carousel-indicator {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(92, 92, 92, 0.5);
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.carousel-indicator.active {
    background-color: #fff;
}


.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    overflow: hidden; /* Отключение скролла */
    align-items: center; /* Центрирование по вертикали */
    justify-content: center; /* Центрирование по горизонтали */
}

.modal.is-active {
    display: flex;
}

.modal-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Немного затемнения фона */
}

.modal-content {
    position: relative;
    z-index: 1;
    width: 90vw; /* Увеличение ширины */
    height: 90vh; /* Увеличение высоты */
    display: flex; /* Центрирование содержимого */
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.modal-content img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Сохранение пропорций изображения */
    cursor: pointer; /* Показ курсора, чтобы указать, что изображение кликабельно */
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 2rem; /* Увеличение размера кнопки закрытия */
    color: white;
    cursor: pointer;
    z-index: 2; /* Кнопка должна быть поверх изображения */
}
