/* .navbar-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

  
@media (max-width: 768px) {
    .navbar-center {
      flex-direction: column;
    }
} */

.profile-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease-in-out;
  }
  
  .profile-image:hover {
    transform: scale(1.1);
  }

.menu-list-custom li {
    margin-bottom: 10px;
}

.menu-list-custom li a.is-active {
    background-color: #2A3236;
    transition: transform 0.2s ease-in-out;
}

.menu-list-custom li a.is-active:hover {
    background-color: #5e6163;
    transform: scale(1.05);
}

/* .level-item.vote-count {
    font-size: 1rem;
    color: #333;
}
*/

/* .icon.is-small {
    color: #9b9b9b;
} */

.level-left {
    display: flex;
    flex-wrap: wrap; /* Позволяет элементам переноситься на новую строку при необходимости */
    align-items: center; /* Центрирование иконок по вертикали */
}

/* Контейнер для кнопок голосования и счетчиков */
.vote-group {
    display: flex;
    align-items: center;
    background-color: #2A3236; /* Светло-серый фон */
    padding: 5px;
    border-radius: 20px; /* Закругленные края */
}

/* Кнопки голосования */
.vote-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #646464; /* Белый фон для кнопок */
    border-radius: 70%; /* Круглая форма */
    width: 30px;
    height: 30px;
    margin: 0 5px; /* Отступы между кнопками */
    border: 1px solid #ddd; /* Легкая граница */
    transition: transform 0.2s ease-in-out;
}

.vote-button:hover {
    background-color: #a0a0a0;
    transform: scale(1.2);
}

/* Цвет иконок голосования */
.vote-button .icon.is-small {
    color: #333;
}

/* Счетчики голосов */
.vote-count {
    font-size: 1rem; /* Размер шрифта для счетчиков */
    color: #8b8b8b; /* Цвет текста для счетчиков */
}

